<!DOCTYPE html>
<html lang="en">
<head>
    <meta charse="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PDF Output</title>
    <style>
        @page {
            size:"A4";
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;


            @top-center{
                content:"COMPANY NAME";
            }

        }
    </style>


</head>
<body>
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F04%2F83%2F17%2F70%2F360_F_483177012_cwHfmtTjEMdbu2tbP0go5qA7zYjLlFyQ.jpg&tbnid=X9htGmbS58ay1M&vet=12ahUKEwjirI6n3rb_AhVw-3MBHcVlAisQMygLegUIARD9AQ..i&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522letter%2Be%2Blogo%2522&docid=RqRt0R-a4uzXAM&w=514&h=360&q=logo%20design%20with%20letter%20e&ved=2ahUKEwjirI6n3rb_AhVw-3MBHcVlAisQMygLegUIARD9AQ">
</body>
</html>